@{
    ViewData["Title"] = "首页";
}

        <div class="box box-default">
          <div class="box-header with-border">
            <h3 class="box-title">我不愿</h3>
          </div>
          <div class="box-body">
            但愿那，<br/>
海风再起，<br/>
只愿那浪花的手<br/>
恰似<br/>
你的温柔。<br/>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->


